@import './header';
@import './mixins';
@import './main';
@import './footer';
@import './pricing';
@import './customers';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @extend %font_family;
    list-style: none;
    text-decoration: none;
}

.wrapper{
    background-color: #1F2E35;
}

.container{
    max-width: 1265px;
    margin: 0 auto;
    padding: 0 20px;
}
